[submodule "plugins/codex-plugin-ssh-manager"]
	path = plugins/codex-plugin-ssh-manager
	url = https://github.com/fyq163/mcp-ssh-manager-as-plugins.git
[submodule "plugins/devops-ssh"]
	path = plugins/devops-ssh
	url = https://sebfan@dev.azure.com/sebfan/oracle-devops/_git/devops-ssh-skill
[submodule "plugins/istoresos"]
	path = plugins/istoresos
	url = https://github.com/fyq163/router-repair.git
