[submodule "plugins/codex-plugin-ssh-manager"]
	path = plugins/codex-plugin-ssh-manager
	url = https://github.com/fyq163/mcp-ssh-manager-as-plugins.git
[submodule "plugins/devop-ssh"]
	path = plugins/devop-ssh
	url = git@ssh.dev.azure.com:v3/sebfan/oracle-devops/devops-ssh-skill
[submodule "plugins/istoresos"]
	path = plugins/istoresos
	url = https://github.com/fyq163/router-repair.git
